
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main
{
    background: whitesmoke;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page
{
    background: #E8EEF4;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

#header img 
{   
    width: 100%;
    height: 100%;
}
#header_form
{
    width: 100%;
    height: 200px;
    
}

/*********************************************************************************/
/* Form                                                                    */
/*********************************************************************************/  
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  .radio {
    padding: 10px;
    margin: 10px;
    width: 20px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  
  }
  select{
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* color for errors messages on validation: */
  .error {
    color: #f00; 
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  .current{
    display: block;
}
  
/*********************************************************************************/
/* Form button                                                                 */
/*********************************************************************************/  
  button {
    background-color:  rgb(13, 79, 133);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  /* Make circles that indicate the steps of the form: */
  .previous {
    background-color: #bbbbbb; 
  }

  .step {
    height: 30px; 
    width: 30px; 
    cursor: pointer; 
    margin: 0 2px; 
    color: #fff; 
    background-color: #bbbbbb; 
    border: none; 
    border-radius: 50%; 
    display: inline-block; 
    opacity: 0.8; 
    padding: 5px
  }

  .step.active {
    opacity: 1; 
    background-color:  rgb(13, 79, 133);
  }

.step.finish {
    background-color:  rgb(67, 115, 155); 
  }
  
/*********************************************************************************/
/* Symptoms                                                                      */
/*********************************************************************************/ 
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }
  .danger {
    border-color: #f44336;
    color: red;
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  .symptom{
      text-align: center;
    background: #E8EEF4;
    padding: 20px 20px;
      margin: 20px auto;
  }
  .important{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    padding-top: 50px;
    color: #f44336;
    margin: 10px auto;
    
  }
/*********************************************************************************/
/* Travel History                                                                   */
/*********************************************************************************/ 
.travel{
  background: #E8EEF4;
  padding: 20px 20px;
  margin: 20px auto;
}
.country p{
  background: whitesmoke;
  border: 2px solid #0A314D;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 30px;
  padding: 20px;
}
.travelQuest{
  width: 90%;
  display: inline-block;
}
#dateChina{
  display: none;
}
#dateRegion{
  display: none;
}
/* Rounded sliders */
.switch {
    position: relative;
    
    width: 60px;
    height: 34px;
    float: right;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/*********************************************************************************/
/* Flight information                                                                  */
/*********************************************************************************/ 
.location{
  background: #E8EEF4;
  padding: 20px;
  margin: 20px auto;
}
.location lable{
  margin-left: 10px;
  font-weight: bold;
}
.location input, select{
  width: 80%;
  display: block;
  margin: 20px;
  
}
#no_stops {
  display: none;
  margin-top: 10px;
  
}

.many_stops{
  display: none;
  margin-top: 10px;
  padding: 5px;
}
.autocomplete-wrapper {
  position: relative;
  
  input {
    width: 100%;
  }
}
.autocomplete-results {
  position: absolute;
  background: white;
  z-index: 1;
  top: 100%;
  left: 0;
  font-size: 13px;
  border: solid 1px #ddd;
  border-top-width: 0;
  border-bottom-color: #ccc;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.2);
}

.autocomplete-result {
  padding: 12px 15px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.autocomplete-result:last-child {
  border-bottom-width: 0;
}

.autocomplete-location {
  opacity: .8;
  font-size: smaller;
}

$iPlus: 0;
@for $i from 0 through 7 {
  $iPlus: $i + 1;
  .autocomplete-results[data-highlight='#{$i}'] > :nth-child(#{$iPlus}) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px darken(#26C9FF, 10%);
  }
}


/*********************************************************************************/
/* Extra infomation after submisison                                             */
/*********************************************************************************/ 
.externalLinks::after {
  content: "";
  clear: both;
  display: table;
}


.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column:hover {
box-shadow: 0 0 5px 1px #0D385B
}
